body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  outline: none;
  border: none;
}
input::placeholder {
  color: #ccc;
}

.size-60 {
  font-size: 60px;
}

.size-20 {
  font-size: 20px;
}

.size-30 {
  font-size: 30px;
}

.size-40 {
  font-size: 40px;
}
