.track {
  color: #fff;
}
.table-responsive .table tbody td {
  border: none;
}
.table-responsive .table tbody tr {
  border-bottom: 1px solid #fff;
}

.custom-link {
  text-decoration: underline;
  color: inherit;
}

